/* HomePage.scss */
hr {
  border: none; // Enlève la bordure par défaut
  height: 1px; // Définit l'épaisseur de la ligne
  background-color: #181818; // Définit la couleur de la ligne
  margin: 50px 0; // Ajoute de l'espace au-dessus et en dessous de la ligne
  width: 85%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}






.landing-page{
    overflow: auto;
    margin-top: 5%;

    a {
      text-decoration: none;

    }


}







.section1{
  height: 85vh;
  width: 90%;
  margin: auto;
}

.bloc1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:self-start;
  width: 90%;
  margin: auto;
  margin-top: 2%;
  height: 85vh;

  h1 {
    color: black;
    margin-top: 0;
  }

  p {
    font-size: 40px;
    font-weight: 100;
    color: #000;
  }

  img {
    width: 90px;
  }


}

.menu1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  h1{
    color:black;
    margin-bottom: 0;
  }

  li {
    color:black;
    margin-top: 0;
    margin-left: -40px;
    list-style: none;
    font-weight: 200;
    font-size: 20px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #007bff; /* couleur de votre choix */
      transform: scale(1.1); /* augmente la taille de 10% */
    }
  }
  

}


.blocNom{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  img {
    margin-bottom: 0;
    width: 50px;
  }
  p {
    color:black;
    margin-top: 0;
  }
}


.bloc2 {
  position: relative;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0;
  align-items: center;

  img {
    height: 100px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 25px;
  }


  h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 7em;
    color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Abduction2002'; 
    font-weight: 100;
  }
}



.home {
    padding: 80px 0;
    text-align: center;
  
    h1 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 18px;
      color: #555;
    }
  
    button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    h2 {
      font-size: 24px;
      margin-top: 40px;
      font-weight: normal;
      border-right: 2px solid #000; /* Effet de clignotement */
      padding-right: 5px; /* Espace pour le curseur clignotant */
    }
  }
  