nav {
  position: fixed;
  top: 0;
  left: 5%;
  right: 5%;
  width: 50%;
  z-index: 1000;
  background: rgba(35, 37, 38, 0.8);
  background: -webkit-linear-gradient(to right, rgba(35, 37, 38, 0.9), rgba(65, 67, 69, 0.8));
  background: linear-gradient(to right, rgba(35, 37, 38, 0.9), rgba(65, 67, 69, 0.9));
  display: flex;
  justify-content: flex-end;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 1em;
  border-radius: 2em;
  margin: auto;
  margin-top: 1em;
  height: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);

  img {
    height: 2em;
    width: 2em;
    margin-right: 0;
    &:hover {
      scale: 1.2;
    }
  
  }

  ul {
    list-style: none;
    margin-left: -1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;


    li {
      margin: 0 0em!important;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 1.2em;
        font-weight: 400;
        padding: 0.4em 1em;
        border-radius: 2em;
        transition: background-color 0.2s ease-in-out;
        margin-left: -1.2em;

        &:hover,
        &.active {
          background-color: #555;
        }
      }
    }
  }

  // Styles pour tablettes
  @media (max-width: 1024px) {
    padding: 0.8em;

    img {
      width: 1.7em;
    }

    ul li {
      margin: 0 0.8em;

      a {
        font-size: 1em;
        padding: 0.8em 1.6em;
      }
    }
  }

  // Styles pour mobile
  @media (max-width: 768px) {
    padding: 0.6em;
    width: 85%;
    margin: auto;
    margin-top: 1em;
    text-transform: uppercase;

    img {
      width: 1.3em;
      margin-right: 0;
      padding: 0;
    }

    ul li {
      margin:  0 0 0 ;
      margin-left: 0;

      a {
        font-size: 0.8em;
        padding: 0.2em 0.5em;
      }
    }
  }
}
