@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;300;400;700&display=swap');

.portfolio-section {
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    height: 110vh;
    font-family: 'Rubik';
  
    // Pour les tablettes et mobiles
    @media (max-width: 768px) {
        height: 190vh;
      margin-top: 25vh;  // augmenter cette valeur si nécessaire
      margin-bottom: 20vh;  // augmenter cette valeur si nécessaire
    }
  }
  

.blocPhoto{
    width: 45%;
    height: 100%; // Ajoutez ceci
    border-radius: 0 30px 30px 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 30px 30px 0;

    }
}

.blocPortfolio{
    width:70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.blocLogo{
    margin-top:0;
    margin-bottom: 15px;
    margin-left: 15px;
}

.portfolio{
    width: 90%; // Assurez-vous d'ajouter une largeur à .portfolio
}

.portfolio-infos {
    width: 100%;
    margin: auto;

    h3 {
      font-size: 85px;
      margin-bottom: 0px;
      margin-top: 0;

    }

    h4 {
        font-weight: 100;
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0.8em;
    }

    p {
      margin-top: 0;
      margin-left: 5px;
      margin-bottom: 3em;
    }
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 3em;
    

    a{
        text-decoration: none;
    }

    // Pour les tablettes
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    // Pour les mobiles
    @media (max-width: 576px) {
      grid-template-columns: 1fr;

   

    }
}


.project-card {
    background: #232526;
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
    width: 100%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    height: 200px;
    border-radius: 30px;
    border: 3px beige solid;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out; // Ajouté pour animer le changement d'échelle
    position: relative;

    &:hover {
        transform: scale(1.2); // Agrandit la carte de 5% lors du survol
        z-index: 1;
        box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4); // Ajout d'une ombre plus prononcée
        background: #414345; // Change la couleur de fond
    }




    .blocLogo {
        width: 100%;
        height: 1.5em;
        margin-top: 1em;
        img {
            margin-right: 0.7em;
            width: 1.5em;
        }
        
    }

    h4 {
        color: white;
        margin-top: 0.4em;
        text-decoration: none;
        margin-bottom: 0;
        font-size: 2em;
        margin-left: 15px;
    }

    p {
        color: beige;
        font-size: 0.9em;
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 0;
        line-height: 1.1em;
    }

    a {
        color: darkseagreen;
        text-decoration: none;
    }
}

