.skill-card.gradient-1 {
  background: linear-gradient(to right, #1F1C2C, #928DAB); /* React */
}

.skill-card.gradient-2 {
  background: linear-gradient(to right, #1F1C2C, #928DAB); /* React */
}

.skill-card.gradient-3 {
  background: linear-gradient(to right, #1F1C2C, #928DAB); /* React */
}

.skill-card.gradient-4 {
  background: linear-gradient(to right, #1F1C2C, #928DAB); /* React */
}


.skill-card.gradient-5 {
  background: linear-gradient(to right, #1F1C2C, #928DAB); /* React */
}


.skill-card.gradient-6 {
  background: linear-gradient(to right, #1F1C2C, #928DAB); /* React */
}





.blocLogo {
  height: 100px; /* ou toute autre valeur fixe appropriée */
}



.skills-section {
  margin: auto;
  width: 90%;
  margin-bottom: 5%;
  font-family: 'Rubik';
  

  .blocinfo{
    color:black;
    width: 90%;
    margin: auto;
  }

  h2 {
    font-size: 75px;
    margin-bottom: 0;
  }

  h3 {
    font-size: 34px;
    font-weight:200;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .bloc-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgba(100, 117, 125, 0.15);
    border-radius: 30px;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    padding: 1.2em;
  }

  .skill-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    height: 450px;
    gap: auto;
    padding: auto;
  }

  .skill-card {

    width: 93%;
    text-align: center;
    border-radius: 20px;
    height: 210px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    color: white;
    transition: transform 0.3s ease-in-out;
  
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

    &:hover {
        transform: scale(1.02);
        .skill-logo,
        h3,
        p {
          font-size: 1.2em;
          opacity: 1;
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
        .info-button {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; // Remplit la carte lors du survol
          opacity: 1;
        }
    }

    .skill-logo{
      color: wheat;
      margin-top: 3%;
      font-size: 2em;
      transition: opacity 0.3s ease;
      margin-left: 0.5em;
      margin-bottom: 0.21em;
    }

    h3 {
      color:white;
      margin-bottom: 5px;
      font-size: 28px;
      transition: opacity 0.3s ease;
    }

    p {
      width: 95%;
      line-height: 1.2em;
      margin-top: 0;
      font-size: 0.9em;
      text-align: center;
      color: white;
      font-weight: 200;
      transition: all 0.3s ease;
      position: relative; 
    }

    .info-button {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease, opacity 0.3s ease, top 0.3s ease, right 0.3s ease, bottom 0.3s ease, left 0.3s ease;
      margin-top: 10px;
      opacity: 0; // Cache le bouton par défaut

      &:hover {
      }

      animation: fadeIn 0.3s;

      @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
      }
    }
  }
}


 // Pour les tablettes
 @media (max-width: 768px) {

  .skills-section {
    height: 1900px;
  }

  h2 {
    font-size: 3em!important;
  }

  h3 {
    font-size: 24px;
    letter-spacing: 0!important;
  }

  .skill-cards {
    grid-template-columns: 1fr !important;
    grid-auto-rows: auto;
    gap: 5%;
  }

  .bloc-skills {
    background-color: transparent!important;
  }
}

// Pour les mobiles
@media (max-width: 576px) {
  .skills-section{
    height: 2000px;
  }
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 20px;
  }

  .skill-cards {
    grid-template-columns: 1fr !important;
    grid-auto-rows: auto;
  }
}